html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* The image used */

  /* Center and scale the image nicely */
}

.container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('./Bitmap.png');
  background-size: cover;
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
  padding: 0 2rem;
  height: 100vh;
  /* filter: grayscale(100%); */
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

button.register-button {
  background-color: #c271ff;
  color: #fff;
  border: none;
  padding: 14px 20px;
  border-radius: 20px;
  cursor: pointer;
}

div.contacts {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact-card .avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card .avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.contact-card h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 700;
}

.perks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}
.getschooled {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700px;
  font-family: sans-serif;
  color: #fff;
  margin-bottom: 2rem;
}

.hero {
  margin: 4rem 0 4rem 0;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  padding: 2rem;
}
.nav div {
  /* margin-right: 12px; */
}

.nav div a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.best {
  margin-top: 8px;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.courses {
  width: 50px;
  height: 15px;
  gap: 0px;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
  background: #ffffff;
}
.pricing {
  width: 45px;
  height: 15px;
  left: 102px;
  gap: 0px;

  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
  background: #ffffff;
}
.login {
  width: 34px;
  height: 15px;
  left: 200px;
  gap: 0px;

  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
  background: #ffffff;
}

.button {
  display: flex;
  width: 162px;
  background: #c271ff;
  border-radius: 20px;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  border-color: none;
  padding: 10px 4px;
  outline: none;
  justify-content: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  width: 121px;
  height: 18px;
  top: 13px;
  left: 20px;
  gap: 0px;

  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  text-align: center;
  background: #ffffff;
}
.pros {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Source Sans Pro;
  font-size: 28px;
  line-height: 40.22px;
  text-align: center;
  color: #ccc;
}
.pros span {
  color: #c271ff;
  margin-right: 0.5rem;
}

.testimonial {
  background: #c271ff;
  padding: 8rem 12rem;
}
.testimonial-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#pro-1 {
  width: 150px;
  height: 237px;
  top: 758px;
  left: 217px;
  gap: 0px;
}
#pro-2 {
  width: 150px;
  height: 237px;
  top: 758px;
  left: 506px;
  gap: 0px;
}
#pro-3 {
  width: 150px;
  height: 237px;
  top: 758px;
  left: 787px;
  gap: 0px;
}
#pro-4 {
  width: 150px;
  height: 237px;
  top: 758px;
  left: 1076px;
  gap: 0px;
}
.awards {
  width: 150px;
  height: 48px;
  top: 189px;
  gap: 0px;

  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background: #ffffff;
}

.testimonial-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #32a2a8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.quote {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2rem;
}

.quote p {
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: 400;
}
.quote .name {
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: bold;
}

.role {
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: italic;
  font-weight: light;
  text-align: left;
}

.tutorials {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
}
.tutorials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.tutorials span {
  color: #c271ff;
  margin-right: 0.5rem;
  font-weight: 700;
}

.tutorials-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  flex-direction: row;
}
.tuto {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}
.preview {
  width: 255px;
  height: 154px;
  gap: 0px;
  opacity: 0px;
}
.diagonal {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  padding: 0.5rem;
}
.sad {
  width: 70px;
  height: 20px;
  top: 172px;
  left: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  background: #071629;
}
.happy {
  width: 89px;
  height: 20px;
  top: 172px;
  left: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  background: #071629;
}
.natural {
  width: 97px;
  height: 20px;
  top: 172px;
  left: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  background: #071629;
}
.lorem {
  width: 242px;
  height: 48px;
  top: 199.6px;
  left: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.pfp-container {
  /* display: flex;
  align-items: center;
  text-align: center;
  gap: 0.4rem; 
  justify-content: space-between; */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  justify-content: row;
}
.phil {
  color: #c271ff;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: row;
  justify-content: space-between;
}

.min {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 600;
  color: #c271ff;
}
